@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:poppins;
}
html , body{
   height: 100%;
    width: 100%;
}
.flex{
 display:flex;
 align-items: center;
 justify-content:center;
}

:root{
    --todolistcolor:#FFC3C4;
    --notes:#FDAB96;
    --focus:#ABDDDB;
    --remember:#628280;
    --mainbg:#dadada;
}
#todo-app-container{
    width:100%;
    height:100vh;
    background-color: var(--mainbg);
    position:relative;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    /* padding-top:1rem; */
    /* prevented from margin collapse */
    
}
#hero-section{
    width:900px;
    height:90%;
    background-color:#FFFFFF;
    border-radius:15px;
    padding-inline:1rem;
    position:relative;
    overflow:hidden;

}
.hero-section-inner-container{
    width:100%;
    height:100%;
    position:relative;
  
}
/* border design setup */
.topic{
    text-align:center;
    font-weight:600;
    letter-spacing:1.5px;
}
.line{
    position:absolute;
    width:250px;
    height:200px;
    top:-3%;
    left:50%;
    transform:translateX(-50%);
}
.line img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.border-design{
    left:4%;
    top:10%;
}
.photo-bundler{
    left:10%;
    top:-3%;
}
.bottom{
    left:unset;
    top:unset;
    bottom:-10%;
    right:-10%;
    transform:rotate(30deg);
}
.line-design-bottom{
    left:unset;
    top:unset;
    bottom:-15%;
    left:10%;
    z-index:2;
}
.right{
    left:unset;
    top:-10%;
    right:-10%;
    transform:rotate(80deg);
}
/* start of todo container */
.todo-main-container{
    position:relative;
    z-index:1;
    opacity:.8;
    margin-top:2rem;
    width:100%;
    height:25rem;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "todo focus"
    "todo notes"
    "todo remember";
    column-gap:1rem;
    row-gap:1rem;
}
.todo-container{
    padding:1rem;
    width:100%;
    height:100%;
    background-color:var(--todolistcolor);
    grid-area:todo;
    border-radius:15px;
    flex-direction:column;
    justify-content:flex-start;
    gap:1rem;
}
.todo-container::placeholder{
    font-size:1rem;
}
.todo-container input{
    padding-left:.5rem;
}
.todo-main-container h1{
    font-family:Merriweather;
     font-weight: 300;
     font-size:1rem;
}
.focus{
    padding:.5rem;
    border-radius:15px;
    grid-area:focus;
    width:100%;
    background-color:var(--focus);
}
.notes{
    background-color: var(--notes);
    position:relative;
    padding:.5rem;
    border-radius:15px;
    border-radius:15px;
    grid-area:notes;
    width:100%;
}
.remember{
    position:relative;
    padding:.5rem;
    border-radius:15px;
    grid-area:remember;
    border-radius:15px;
    width:100%;
    background-color:var(--remember);
}
textarea{
    font-family:Merriweather;
    font-size:.8rem;
    margin-top:.1rem;
    border-radius:15px;
    height:70%;
    width:100%;
    padding:.5rem;
}
.bulb{
    width:50px;
    height:50px;
    right:0;
    transform: unset;
    left:unset;
}
.wrapper{
    width:100px;
    height:100px;
    left:10%;
    top:-17%;
}